<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-content-box">
            <div id="footerName" class="footer-content-item">
                <p id="copyright"></p>
            </div>
            <div id="footerColorModeToggle" class="footer-content-item"></div>
            <div id="footerSocial" class="footer-content-item">
                <p>Connect with me on <a href="https://twitter.com/aharvard">Twitter</a> or <a href="https://www.linkedin.com/in/aharvard/">LinkedIn</a>!</p>
            </div>
            <div id="footerSite" class="footer-content-item">
                <p>This website is built with 11ty and hosted on Netlify.
                    <a href="/design-system">Design System</a>
                </p>
            </div>
        </div>
    </div>
</footer>