<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-content-box">
            <div class="footer-content-item footer-site">
                <p> 
                    Deigned <a href="/design-system">systematically</a>
                    &nbsp;•&nbsp;
                    Built with <a href="https://www.11ty.dev/">11ty</a>
                    &nbsp;•&nbsp; 
                    Deployed to <a href="https://www.netlify.com/">Netlify</a>
                </p>
            </div>
            <div class="footer-content-item footer-color-mode-toggle"></div>
            <div class="footer-content-item footer-social">
                <p>Connect with me on
                    <a href="https://twitter.com/aharvard">Twitter</a>
                    or
                    <a href="https://www.linkedin.com/in/aharvard/">LinkedIn</a>!</p>
            </div>
            <div class="footer-content-item footer-name">
                <p id="copyright"></p>
            </div>
        </div>
    </div>
</footer>