<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-content-box">
            <div class="footer-content-item footer-site">
                <p class="body-1">
                    This site is built with
                    <a href="https://www.11ty.dev/">11ty</a>, powered by
                        a
                    <a href="/design-system">design system</a>, and
                                                deployed&nbsp;to&nbsp;<a href="https://www.netlify.com/">Netlify</a>.
                </p>
            </div>
            <div class="footer-content-item footer-color-mode-toggle"></div>
            <div class="footer-content-item footer-social">
                <p class="body-1">Let's connect on
                    <a href="https://twitter.com/aharvard">Twitter</a>
                    or
                    <a href="https://www.linkedin.com/in/aharvard/">LinkedIn</a>!</p>
            </div>
            <div class="footer-content-item footer-name">
                <p class="body-1" id="copyright"></p>
            </div>
        </div>
    </div>
</footer>