{# light tokens #}
--background-color: var(--white);
--text-color: var(--black);
--text-color-low-contrast: var(--black);

--headline-color: var(--black);

--header-link-idle-color: var(--black);
--header-link-active-color: var(--black);

--button-primary-background-color: var(--black);
--button-primary-text-color: var(--white);
--button-primary-border-color: var(--black);
--button-secondary-background-color: var(--white);
--button-secondary-text-color: var(--black);
--button-secondary-border-color: var(--black);
 

--img-border-color: var(--black);

--video-gradient-inside: var(--white);
--video-gradient-outside: var(--gray-300);

--portfolio-link-heading-color: var(--black);
--portfolio-link-heading-shadow: 0 0 4px rgba(255, 255, 255, 1);
--portfolio-link-gradient-overlay: none;
 --portfolio-link-heading-background: rgba(255, 255, 255, 0.9);


--detail-content-heading-color: var(--black);

--meta-item-label-color: var(--gray-700);