{# light tokens #}
--background-color: var(--white);
--button-primary-background-color: var(--black);
--button-primary-border-color: var(--black);
--button-primary-text-color: var(--white);
--button-secondary-background-color: var(--white);
--button-secondary-border-color: var(--black);
--button-secondary-text-color: var(--black);
--detail-content-heading-color: var(--black);
--header-link-active-color: var(--black);
--header-link-idle-color: var(--black);
--headline-color: var(--black);
--img-border-color: var(--black);
--meta-item-label-color: var(--text-color-low-contrast);
--portfolio-link-gradient-overlay: none;
--portfolio-link-heading-background: rgba(255, 255, 255, 0.9);
--portfolio-link-heading-color: var(--black);
--portfolio-link-heading-shadow: 0 0 4px rgba(255, 255, 255, 1);
--scroll-thumb-color: var(--gray-300);
--scroll-thumb-hover-color: var(--text-color);
--scroll-track-color: var(--background-color);
--text-color-low-contrast: var(--gray-700);
--text-color: var(--black);
--video-background: radial-gradient(var(--white) 0%, var(--gray-300) 200%);