{# dark tokens #}
--background-color: var(--black);
--text-color: var(--gray-300);
--headline-color: var(--white);

--header-link-idle-color: var(--text-color);
--header-link-active-color: var(--white);

--button-primary-background-color: var(--white);
--button-primary-text-color: var(--black);
--button-primary-border-color: var(--white);
--button-secondary-background-color: var(--black);
--button-secondary-text-color: var(--white);
--button-secondary-border-color: var(--white);

--content-block-text-color: var(--gray-400);

--img-border-color: var(--gray-100);

--video-gradient-inside: var(--gray-700);
--video-gradient-outside: var(--black);

--portfolio-link-heading-color: var(--white);
--portfolio-link-heading-shadow: 0 1px 3px rgba(0, 0, 0, 1);
--portfolio-link-gradient-overlay: linear-gradient(
    190deg,
    rgba(10, 10, 10, 0) 43%,
    rgba(10, 10, 10, 0.9) 68%
  );
--portfolio-link-heading-background: none;

--detail-content-heading-color: var(--white);

--meta-item-label-color: var(--gray-500);
