{# light tokens #}
--background-color: var(--white);
--text-color: var(--black);
--headline-color: var(--black);

--header-link-idle-color: var(--black);
--header-link-active-color: var(--black);

--button-primary-background-color: var(--black);
--button-primary-text-color: var(--white);
--button-primary-border-color: var(--black);
--button-secondary-background-color: var(--white);
--button-secondary-text-color: var(--black);
--button-secondary-border-color: var(--black);
 
--content-block-text-color: var(--black);

--img-border-color: var(--black);

--video-gradient-inside: var(--white);
--video-gradient-outside: var(--gray-300);

--portfolio-link-heading-color: var(--black);
--portfolio-link-heading-shadow: var(--black);
--portfolio-link-gradient-overlay: linear-gradient(
    190deg,
    rgba(255, 255, 255, 0) 43%,
    rgba(255, 255, 255, 0.9) 68%
  );

--detail-content-heading-color: var(--black);