{% extends "./base.njk" %}
{% block content %}
  <div class="detail">
    <h1 class="headline">{{ title }}</h1>
    <div class="detail-body">
      <aisde class="detail-aside">
        {% if aboutImage %}
          <div class="detail-aside-item">
            <div class="detail-aside-image-wrapper">
              <img src="{{ aboutImage }}" alt="Andrew's headshot"/>
            </div>
          </div>
        {% endif %}
        {% if date %}
          <div class="detail-aside-item">
            <span class="detail-aside-item-label">Date</span>
            <span class="detail-aside-item-value">{{ date | asPostDate }}</span>
          </div>
        {% endif %}
        {% if company %}
          <div class="detail-aside-item">
            <span class="detail-aside-item-label">Company</span>
            <span class="detail-aside-item-value">{{ company }}</span>
          </div>
        {% endif %}
        {% if for %}
          <div class="detail-aside-item">
            <span class="detail-aside-item-label">For</span>
            <span class="detail-aside-item-value">{{ for }}</span>
          </div>
        {% endif %}
        {% if role %}
          <div class="detail-aside-item">
            <span class="detail-aside-item-label">Role</span>
            <span class="detail-aside-item-value">{{ role }}</span>
          </div>
        {% endif %}
        {% if school %}
          <div class="detail-aside-item">
            <span class="detail-aside-item-label">School</span>
            <span class="detail-aside-item-value">{{ school }}</span>
          </div>
        {% endif %}
      </aisde>
      <div class="detail-content">
        {{ content | safe }}
      </div>
    </div>
  </div>
{% endblock %}