{% extends "./base.njk" %}
{% set pageHeaderTitle = title %}

{% block content %}
  <div class="portfolio">
    <h1 class="headline">{{ title }}</h1>
    <div class="portfolio-grid">
      {% for item in collections.portfolio %}
        <a href="{{ item.url }}" class="portfolio-link" aria-label="{{ item.data.title }}">
          <div class="portfolio-image-wrapper">
            <img class="portfolio-image" src="{{ item.data.thumbnail.image }}" alt="{{ item.data.thumbnail.imageAlt }}"/>
          </div>
          <h2 class="heading portfolio-heading">{{ item.data.title }}</h2>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}