<footer>
    <p>Connect with me on
        <a href="https://twitter.com/aharvard">Twitter</a>
        or
        <a href="https://www.linkedin.com/in/aharvard/">LinkedIn</a>!</p>
    <p>This website is built with 11ty and hosted on Netlify.
        <span id="copyright"></span>
    </p>
</footer>