<header class="header">
  <div class="header-container">
    <a href="/" class="body-2 header-link">Andrew Harvard</a>
    <nav class="header-nav">
      <a href="/portfolio" class="body-2 header-link{{ active }}">About Me</a>
      <a href="/portfolio" class="body-2 header-link{{ active }}">My Portfolio</a>
      {# {% include "./dark-mode-toggle.njk" %} #}
    </nav>
  </div>
</header>