{% extends "layouts/base.njk" %}
{% block content %}
  <div class="design-system-container">
    <h2 class="headline">Headline</h2>
    <h2 class="heading">Heading</h2>
    <p class="meta">meta</p>
    <p class="lead">
      Lead - I have over a decade of experience in design systems, prototyping, and front-end development. I enjoy working at
      the intersection of design and technology.
    </p>
    <p class="body-1">
      Body 1 - I have over a decade of experience in design systems, prototyping, and front-end development. I enjoy working
      at the intersection of design and technology.
    </p>
    <p class="body-2">
      Body 2 - I have over a decade of experience in design systems, prototyping, and front-end development. I enjoy working
      at the intersection of design and technology.
    </p>
    <p class="body-3">
      Body 3 - I have over a decade of experience in design systems, prototyping, and front-end development. I enjoy working
      at the intersection of design and technology.
    </p>
    <button class="primary">Primary button</button>
    <button class="secondary">Secondary button</button>
    {% include "./_includes/paritals/header.njk" %}
    {% include "./_includes/paritals/footer.njk" %}
  </div>
{% endblock %}