{% import "components/content-block.njk" as m %}
{% import "components/portfolio-tile.njk" as n %}
{% extends "layouts/base.njk" %}
{% block designSystem %}
  <div class="design-system-container">
    <h1 class="lead">andrewharvard.com design system</h1>
    <div class="design-system-container-item" data-title="Header">
      {% include "components/header.njk" %}
    </div>
    <div class="design-system-container-item" data-title="Footer">
      {% include "components/footer.njk" %}
    </div>
    <div class="design-system-container-item" data-title="Content Block: Hero Example">
      {{ m.contentBlock({
        type: "hero",
        headline: "A Catchy Headline", 
        blurb: "Commodo enim tempor nulla sunt incididunt ex quis eu anim aliquip aute adipisicing.",
        primaryCTA: { 
          text: "Primary Action",
          url: "#"
        },
        secondaryCTA: {
          text: "Secondary Action", 
          url: "#"
        }
        }) }}
    </div>
    <div class="design-system-container-item" data-title="Content Block: Defautl Example">
      {{ m.contentBlock({
        eyebrow: "Eyebrow", 
        headline: "Proident commodo veniam elit in magna minim proident ipsum commodo.", 
        blurb: "Commodo enim tempor nulla sunt incididunt ex quis eu anim aliquip aute adipisicing.",
        primaryCTA: {
          text: "Primary Action",
          url: "#"
        }
        }) }}
    </div>
    <div class="design-system-container-item" data-title="Portfolio Tiles">
      <div class="portfolio-tile-grid">
        {{ n.portfolioTile({
                url: "item.url",
                ariaLabel: "item.data.title",
                imgSrc: "https://source.unsplash.com/random/?Cat&1",
                title: "item.data.title"
               }) }}
        {{ n.portfolioTile({
                url: "item.url",
                ariaLabel: "item.data.title",
                imgSrc: "https://source.unsplash.com/random/?Cat&2",
                title: "item.data.title"
               }) }}
        {{ n.portfolioTile({
                url: "item.url",
                ariaLabel: "item.data.title",
                imgSrc: "https://source.unsplash.com/random/?Cat&3",
                title: "item.data.title"
               }) }}
        {{ n.portfolioTile({
                url: "item.url",
                ariaLabel: "item.data.title",
                imgSrc: "https://source.unsplash.com/random/?Cat&4",
                title: "item.data.title"
               }) }}
      </div>
    </div>
    <div class="design-system-container-item padded" data-title=".headline">
      <h2 class="headline">Headline</h2>
    </div>
    <div class="design-system-container-item padded" data-title=".heading">
      <h2 class="heading">Heading</h2>
    </div>
    <div class="design-system-container-item padded" data-title=".meta">
      <p class="meta">meta</p>
    </div>
    <div class="design-system-container-item padded" data-title=".lead">
      <p class="lead">
        Lead - I have over a decade of experience in design systems, prototyping, and front-end development. I enjoy working at
        the intersection of design and technology.
      </p>
    </div>
    <div class="design-system-container-item padded" data-title=".body-1">
      <p class="body-1">
        Body 1 - I have over a decade of experience in design systems, prototyping, and front-end development. I enjoy working
        at the intersection of design and technology.
      </p>
    </div>
    <div class="design-system-container-item padded" data-title=".body-2">
      <p class="body-2">
        Body 2 - I have over a decade of experience in design systems, prototyping, and front-end development. I enjoy working
        at the intersection of design and technology.
      </p>
    </div>
    <div class="design-system-container-item padded" data-title="Button: Primary">
      <button class="primary">Primary button</button>
      <button class="primary small">Primary Small button
      </button>
    </div>
    <div class="design-system-container-item padded" data-title="Button: Secondary">
      <button class="secondary">Secondary button</button>
      <button class="secondary small">Secondary Small button
      </div>
    </div>
  {% endblock %}