{% import "components/content-block.njk" as m %}
{% import "components/portfolio-tile.njk" as n %}
{% extends "layouts/base.njk" %}
{% block content %}
  {{ m.contentBlock({
        type: "hero",
        headline: "Andrew Harvard", 
        blurb: "Hi, my website is currently under construction."
        }) }}
{% endblock %}